<form action='/consultants/<%= @consultant.id %>' method="POST">
  <input type="hidden" name="_method" value="PUT">

  Email Address: <input type='text' name='email', value='<%= @consultant.email %>'><br />
  <% if @session_privilege == 'admin' %>
    User Type: <select id="account_type" name="account_type">
      <option value="admin">Admin</option>
      <option value="agent">Agent</option>
    </select>
  <% end %>
  Password: <input type='password' name='password'><br />
  Password Confirmation: <input type='password' name='password_confirmation'><br />

  <input type='submit' value='Edit Consultant'>
</form>
