<form action='/consultants' method="POST">

  Email Address: <input type='text' name='email'><br />
  Admin: <input type='checkbox' name='admin'><br />
  Password: <input type='password' name='password'><br />
  Password Confirmation: <input type='password' name='password_confirmation'><br />

  <input type='submit' value='Create Consultant'>
</form>
