<h1>Clients</h1>

<% if @session_privilege == 'admin' %>
  <a href='/clients/new'>Create Client</a><br /><br />
<% end %>

<% @clients.each do |client|%>
  <a href='/clients/<%= client.id %>'><%= client.email %></a><br />
<% end %>
