<h1>Tickets</h1>
<a href='/tickets/new'>New Ticket</a><br /><br />
<% @tickets.each do |ticket| %>
  <a href='/tickets/<%=ticket.id%>'><%= ticket.name %></a>(<% if ticket.complete %>complete<% else %>open<% end %>)<br />
<% end %>
