<form action='/tickets' method="POST">

  Name: <input type='text' name='name'><br />
  Details: <textarea name='details' ></textarea><br />
  Complete: <select id="status" name="status">
    <option value="open">Open</option>
    <option value="complete">Complete</option>
  </select>
  Client: <select id="client" name="client">
    <% @clients.each do |client| %>
      <option value='<%= client.id %>'><%= client.email %></option>
    <% end %>
  </select>
  Consultant: <select id="consultant" name="consultant">
    <% @consultants.each do |consultant| %>
      <option value='<%= consultant.id %>'><%= consultant.email %></option>
    <% end %>
  </select>

  <input type='submit' value='Create Ticket'>
</form>
