<h1>Welcome to the Technical Support Network!</h1>

<p>Please log in as a <form action="/login" method="POST"><button type="submit" name="type" value='consultants' class="btn-link">consultant</button></form> or <form action="/login" method="POST"><button type="submit" name="type" value='clients' class="btn-link">client</button></form>.</p>

<p>You may also <a href='/signup'>sign up here</a>.</p>
