<!doctype html>
<html>
  <head>
    <title>TSN</title>
  </head>
  <body>
    <div> Testing layout. </div>
<%= yield %>

<script>
  function addConsultant() {
    document.getElementsByClassName('clients')[0].style.display = 'none';
    document.getElementsByClassName('consultants')[0].style.display = 'block';
  }
  function addClient() {
    document.getElementsByClassName('consultants')[0].style.display = 'none';
    document.getElementsByClassName('clients')[0].style.display = 'block';
  }
</script>
</body>
</html>
