<!doctype html>
<html>
  <head>
    <title>TSN</title>

    <style>

      ul.nav {
        list-style-type: none;
        margin: -10px;
        padding: 10px;
        overflow: hidden;
        background-color: #333;
      }
      li {
        display: inline;
      }

      a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        margin:-10px 0 -10px 0;
        padding:10px;
        text-decoration: none;
        color: #dddddd;
      }

      a.button:hover {
        background-color: gray;
      }
    </style>
  </head>

  <body>

    <header>

    </header>
    <ul class='nav'><%#nav bar %>
      <% if session[:user_id] %>
        <li><a class='button' href="/tickets">Tickets</a></li>
        <li><a class='button' href="/consultants">Consultants</a></li>
        <li><a class='button' href="/clients">Clients</a></li>
        <li><a class='button' href='/logout'>Log Out</a>
      <% elsif request.path_info != '/login' && request.path_info != '/' && request.path_info != '/signup' %>
        <li><a class='button' href='/login'>Log In</a>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
