<h1>What kind of user will you be?</h1>

<button onclick="addConsultant()">Consultant</button><button onclick="addClient()">Client</button><br /><br />

<form action='/consultants' method="POST" class='consultants' style='display:none;'>
  Consultant<br /><br />
  Email Address: <input type='text' name='email'><br />
  Password: <input type='password' name='password'><br />
  Password Confirmation: <input type='password' name='password_confirmation'><br />

  <input type='submit' value='Sign Up'>
</form>

<form action='/clients' method="POST" class='clients' style='display:none;'>
  Client<br /><br />
  Email Address: <input type='text' name='email'><br />
  Password: <input type='text' name='password'><br />
  Password Confirmation: <input type='text' name='password_confirmation'><br />

  <input type='submit' value='Sign Up'>
</form>

<script>
  function addConsultant() {
    document.getElementsByClassName('clients')[0].style.display = 'none';
    document.getElementsByClassName('consultants')[0].style.display = 'block';
  }
  function addClient() {
    document.getElementsByClassName('consultants')[0].style.display = 'none';
    document.getElementsByClassName('clients')[0].style.display = 'block';
  }
</script>
